.container {
    margin: 10px 0px;
    padding: 10px;
}
.title {
    display: flex;
    justify-content: center;

}
.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;

}

.item {
    display: flex;
    align-items: center;
    /* width: 300px; */
}

.text {
    display: flex;
    margin-right: 10px;
    color: blue;

}

.number {
    margin: 0px 10px;
}

.button {
    width: 90px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #0d3747;
    margin: 20px 5px;
    cursor: pointer;
    border-radius: 105px;
    background-color: rgb(23, 197, 209);
    color: white;
    border: 1px solid white;
}

.button:hover {
    background-color: rgb(23, 197, 209);
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(53, 53, 52, 0.829) 1px 2px 2px;
}